.footer{
    background: #043927;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding: 80px;
    margin-top: 30px;
}
.footer_content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.content_left h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.content_left, .content_center, .content_right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.content_center li, .content_right li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.content_left h2, .content_center h2, .content_right h2{
    color: white;
}
.footer_icons img{
    width: 40px;
    margin-right: 15px;
    margin-top: 20px;
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: grey;
    border: none;
}